*.pdf binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.tif binary
*.tiff binary
*.zip binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.msg binary
public/reference-data/*.csv binary
